<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-1">
                <div class="card-body">

                </div>
            </div>
            <!-- <div class="card-deck">
                <div class="card shadow-1">
                    <div class="card-body">
                        <h4 class="card-title">2</h4>
                        <p class="card-text">Citas completadas</p>
                    </div>
                </div>
                <div class="card shadow-1">
                    <div class="card-body">
                        <h4 class="card-title">11</h4>
                        <p class="card-text">citas pendientes</p>
                    </div>
                </div>
                <div class="card shadow-1">
                    <div class="card-body">
                        <h4 class="card-title">2</h4>
                        <p class="card-text">citas canceladas</p>
                    </div>
                </div>
                <div class="card shadow-1">
                    <div class="card-body">
                        <h4 class="card-title">15</h4>
                        <p class="card-text">Citas totales</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>