<div class="d-flex flex-column sidebar-content">
    <div class="app">
        <fa-icon [icon]="icons.faImage"></fa-icon>
        <p class="app-title">{{app.name}}</p>
    </div>
    <ul class="list-group content">
        <a href="#" appStopPropagation [routerLink]="['dashboard']" routerLinkActive="active"  class="list-group-item list-group-item-action">Dashboard</a>
        <a href="#" appStopPropagation [routerLink]="['pacientes']" routerLinkActive="active" class="list-group-item list-group-item-action">Pacientes</a>
        <a href="#" appStopPropagation [routerLink]="['citas']" routerLinkActive="active" class="list-group-item list-group-item-action">Citas</a>
        <a href="#" appStopPropagation [routerLink]="['dashboard']" routerLinkActive="active" class="list-group-item list-group-item-action">Ayuda</a>
    </ul>
</div>