<div class="card shadow-1">
    <div class="card-body">
        <form (ngSubmit)="submit()" [formGroup]="settingsForm" *ngIf="settingsForm">
            <div class="form-group row" *ngFor="let item of settings; let i = index;">
                <label [attr.for]="item" class="col-4 col-form-label text-capitalize">{{item.label}}</label>
                <div class="col-8">
                    <input type="text" [formControlName]="item.key" [id]="item.key" class="form-control"
                        [type]="item.type">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>