@import "/src/theme/colors";

.commerce-bar {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    height: 70px;
    .nav-search {
        margin: 0 18px;
        width: 100%;
    }

    .nav-item {
        color: #98a6ad;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-link {
        font-size: 22px;
        color: #98a6ad;
    }
    .navbar-brand {
        color: #98a6ad;
    }

    .navbar-nav {
        // width: 20%;
        flex-direction: row;
        justify-content: end;
    }
}
