<nav class="navbar navbar-expand-lg navbar-light commerce-bar shadow-1">
  <div>
    <a class="navbar-brand m-0" href="#" appStopPropagation (click)="openSideBar()">
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </a>
    <h5 class="m-0 pl-2 d-inline d-md-none d-lg-none d-xs-none">{{appService.pageData.title | translate}}</h5>
  </div>

  <ul class="navbar-nav option-bar">
    <li class="nav-item" ngbDropdown display="dynamic">
      <a class="nav-link" href="#" ngbDropdownToggle appStopPropagation *ngIf="selectedLanguage">
        {{selectedLanguage.name}}
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a href="" appStopPropagation ngbDropdownItem *ngFor="let l of languages"
          (click)="changeLanguaje(l)">{{l.name}}</a>
      </div>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" appStopPropagation [title]="'navbar.notifications.title' | translate">
        <fa-icon [icon]="icons.faBell"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" appStopPropagation class="nav-link" [title]="'navbar.settings.title' | translate">
        <fa-icon [icon]="icons.faCog"></fa-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" appStopPropagation class="nav-link" [title]="'navbar.help.title' | translate">
        <fa-icon [icon]="icons.faQuestionCircle"></fa-icon>
      </a>
    </li>
    <li class="nav-item" ngbDropdown display="dynamic">
      <a class="nav-link" href="#" ngbDropdownToggle appStopPropagation>
        <span *ngIf="session" class="d-none d-xs-none d-sm-none d-md-inline">{{session.user.firstName + ' ' +
          session.user.lastName}}</span>
        <fa-icon [icon]="icons.faUser" *ngIf="!session"></fa-icon>
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngIf="!session">
          <a href="" appStopPropagation ngbDropdownItem [routerLink]="['/auth']"
            routerLinkActive="router-link-active">Login</a>
        </div>
        <div *ngIf="session">
          <a href="" appStopPropagation ngbDropdownItem [routerLink]="['/']">Account</a>
          <a href="" appStopPropagation ngbDropdownItem [routerLink]="['/']">Option 2</a>
          <a href="" appStopPropagation ngbDropdownItem [routerLink]="['/']">Option 3</a>
          <a href="" appStopPropagation ngbDropdownItem (click)="logout()">Log out</a>
        </div>
      </div>
    </li>
  </ul>
</nav>