.commerce-bar {
    display: flex;
    justify-content: space-between;

    .nav-search {
        margin: 0 18px;
        width: 100%;
    }
    .navbar-nav {
        // width: 20%;
        flex-direction: row;
        justify-content: end;
    }
}
