@import "./colors";

$gray-label: #818fa0;

.sidebar {
  width: auto;
  min-width: 260px;
  background-color: $dark-primary;

  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: transparent;
    color: $white;
    .app-title {
      margin: 0px 0px 0px 8px;
      color: $white;
    }
  }

  .list-group-item-action {
    &:active,
    &:focus {
      background-color: $dark-primary;
      color: $white;
    }
  }

  .list-group-item-action {
    color: $gray-label;
    border: 0px;
    background-color: $dark-primary;
    padding: 8px 30px 8px 45px;
    &:hover {
      color: #bdcfe6;
      background-color: $dark-primary;
    }
    &.active {
      color: $white;
      background-color: $dark-primary;
    }
    &:focus-visible {
      outline: none;
    }
  }
}
.option {
  .separator {
    background-color: $gray-label;
  }
}
.icon {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 0;
  font-size: 1.1rem;
  vertical-align: middle;
  width: 20px;
  text-align: center;
}
