@import "./colors";

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
);

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fafbfe !important;
//** Global text color on `<body>`.
$text-color: $gray-dark;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $gray-dark;
}

//** Global textual link color.
$link-color: $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

$breadcrumb-divider: quote(">");

// .btn {
//   color: $white !important;
// }
