<div class="card shadow-1">
    <div class="card-body">
        <div class="container-fluid">
            <form [formGroup]="patientForm" (ngSubmit)="submit()">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="name" class="col-form-label">{{'patients.name.title' | translate}} *</label>
                        <input id="name" name="name" placeholder="{{'patients.name.title' | translate}}" type="text"
                            class="form-control" formControlName="firstName" autofocus
                            [ngClass]="{'is-invalid': isSubmitted && pForm.firstName.errors}">
                        <div *ngIf="isSubmitted && pForm.firstName.errors" class="invalid-feedback">
                            <span *ngIf="pForm.firstName.errors.required">{{'view.required_field.title' |
                                translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="lastName" class="col-form-label">{{'patients.lastName.title' | translate}} *</label>
                        <input id="lastName" name="lastName" placeholder="{{'patients.lastName.title' | translate}}"
                            type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{'is-invalid': isSubmitted && pForm.lastName.errors}">
                        <div *ngIf="isSubmitted && pForm.lastName.errors" class="invalid-feedback">
                            <span *ngIf="pForm.lastName.errors.required">{{'view.required_field.title' |
                                translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="birthday" class="col-form-label">{{'patients.birthday.title' | translate}} *</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                #d="ngbDatepicker" formControlName="birthday"
                                [ngClass]="{'is-invalid': isSubmitted && pForm.birthday.errors}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <fa-icon [icon]="icons.faCalendar"></fa-icon>
                                </button>
                            </div>
                            <div *ngIf="isSubmitted && pForm.birthday.errors" class="invalid-feedback">
                                <span *ngIf="pForm.birthday.errors.required">{{'view.required_field.title' |
                                    translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="col-form-label">{{'patients.email.title' | translate}} *</label>
                        <input id="email" name="email" placeholder="{{'patients.email.title' | translate}}" type="email"
                            class="form-control" formControlName="email"
                            [ngClass]="{'is-invalid': isSubmitted && pForm.email.errors}">
                        <div *ngIf="isSubmitted && pForm.email.errors" class="invalid-feedback">
                            <span *ngIf="pForm.email.errors.required">{{'view.required_field.title' |
                                translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="phone" class="col-form-label">{{'patients.phone.title' | translate}} *</label>
                        <input id="phone" name="phone" placeholder="{{'patients.phone.title' | translate}}" type="text"
                            class="form-control" formControlName="phone"
                            [ngClass]="{'is-invalid': isSubmitted && pForm.phone.errors}">
                        <div *ngIf="isSubmitted && pForm.phone.errors" class="invalid-feedback">
                            <span *ngIf="pForm.phone.errors.required">{{'view.required_field.title' | translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="gender" class="col-form-label">{{'patients.gender.title' | translate}} *</label>
                        <select id="gender" name="gender" class="form-control" formControlName="gender">
                            <option *ngFor="let gender of genderList" [value]="gender.name">{{gender.name | gender}}
                            </option>
                        </select>
                        <div *ngIf="isSubmitted && pForm.gender.errors" class="invalid-feedback">
                            <span *ngIf="pForm.gender.errors.required">{{'view.required_field.title' |
                                translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <small>Required fields *</small>
                        <div>
                            <a name="cancel" href="#" appStopPropagation [routerLink]="['/patients']"
                                routerLinkActive="router-link-active" class="btn btn-link"> {{'view.cancel.title' |
                                translate}}</a>
                            <button name="submit" type="submit" class="btn btn-primary mr-3"> {{'view.save.title' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>