// .sidebar-content{
//     height: 100vh;
//     .app{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 56px;
//         background-color: red;
//         .app-title{
//             margin: 0px 0px 0px 8px;
//         }
//     }
//     .content{
//         border: 0px;
//         margin-top: 3rem;

//         .list-group-item{
//             border:0px;
//             background-color: transparent;
//         }
//         .active{
//             color: green;
//         }
//     }
// }
