<div class="card shadow-1">
    <div class="card-body">
        <div class="container-fluid">
            <form [formGroup]="appointmentForm" (ngSubmit)="submit()">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="startDate" class="col-form-label">Start Date *</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                #d="ngbDatepicker" formControlName="startDate"
                                [ngClass]="{'is-invalid': isSubmitted && pForm.startDate.errors}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <fa-icon [icon]="icons.faCalendar"></fa-icon>
                                </button>
                            </div>
                            <div *ngIf="isSubmitted && pForm.startDate.errors" class="invalid-feedback">
                                <span *ngIf="pForm.startDate.errors.required">{{'view.required_field.title' |
                                    translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <pre>{{pForm.values | json}}</pre>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="patient" class="col-form-label">Patient *</label>
                        <ng-select [items]="patients" bindLabel="firstName" bindValue="guid" formControlName="patient" (search)="getPatients($event.term)" typeToSearchText="Please enter 3 or more characters" placeholder="Please enter 3 or more characters">
                            <ng-template ng-label-tmp let-item="item">
                                <span>{{item.firstName}} + {{item.lastName}}</span>
                             </ng-template>
                         </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="duration" class="col-form-label">duration *</label>
                        <input id="duration" name="duration" placeholder="{{'patients.duration.title' | translate}}" type="number"
                            class="form-control" formControlName="duration"
                            [ngClass]="{'is-invalid': isSubmitted && pForm.duration.errors}">
                        <div *ngIf="isSubmitted && pForm.duration.errors" class="invalid-feedback">
                            <span *ngIf="pForm.duration.errors.required">{{'view.required_field.title' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <small>Required fields *</small>
                        <div>
                            <a name="cancel" href="#" appStopPropagation [routerLink]="['/patients']"
                                routerLinkActive="router-link-active" class="btn btn-link"> {{'view.cancel.title' |
                                translate}}</a>
                            <button name="submit" type="submit" class="btn btn-primary mr-3"> {{'view.save.title' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>